p.sub-title1{
    color: rgb(92, 189, 156);
}
p.sub-title2{
    color: rgb(219, 133, 63);
}

.company{
    font-weight: bold;
    font-size:large ;
}

h1{
    color: rgb(78, 35, 18);
    font-size: 50pt;
    font-weight: bold;
    font-style: normal;
}

div.box1{
    height: 100px;
    width: 100px;
    background-color: khaki;
}
div.box2{
    height: 100px;
    width: 100px;
    background-color: rgb(187, 238, 174);
}
div.box3{
    height: 100px;
    width: 100px;
    background-color: rgb(182, 250, 250);
}