.Body {
  width: 90%;
  padding: 0;
  margin-top: 35px;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'TsukuARdGothic-Regular';
  color: #6E4317;
  overflow-x: hidden;
  font-size: 12pt;
  font-weight: normal;
   }

.Top {
  margin-left: 10%;
  display: flex;
}

.Menu {
    margin-left: auto;
    display: flex;
    align-items: center;
     }
.Menu li {
    overflow: hidden;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 20px;
	   }
.Menu li+ li {
  border-left: 1px solid;
}